<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlovers.carbon_credits.dao.CommodityDao">


    <select id="getCommodityInfo" resultType="com.catlovers.carbon_credits.model.CommodityDTO">
        SELECT * FROM commodity_info
        LIMIT #{i}, #{pageSize};
    </select>

    <select id="getCommodityCountTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM commodity_info
        LIMIT #{i}, #{pageSize}
    </select>
    <select id="getCouponInfo" resultType="com.catlovers.carbon_credits.model.CouponInfoDTO">
        SELECT * FROM coupon_info
        WHERE coupon_type = #{goodType}
        LIMIT #{i}, #{pageSize}
    </select>
    <select id="getCouponCountTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM coupon_info
        WHERE coupon_type = #{goodType}
        LIMIT #{i}, #{pageSize}
    </select>
    <select id="searchCommodity" resultType="com.catlovers.carbon_credits.model.CommodityDTO">
        SELECT * FROM commodity_info
        <where>
            <if test="commodityName != null">
                AND commodity_name LIKE CONCAT('%', #{commodityName}, '%')
            </if>
            <if test="commodityType != -1">
                AND commodity_type = #{commodityType}
            </if>
        </where>
        LIMIT #{i}, #{pageSize}
    </select>
    <select id="searchedCommodityCountTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM commodity_info
        <where>
            <if test="commodityName != null">
                AND commodity_name LIKE CONCAT('%', #{commodityName}, '%')
            </if>
            <if test="commodityType != -1">
                AND commodity_type = #{commodityType}
            </if>
        </where>
        LIMIT #{i}, #{pageSize}
    </select>
    <select id="searchCoupon" resultType="com.catlovers.carbon_credits.model.CouponInfoDTO">
        SELECT * FROM coupon_info
        <where>
            <if test="couponName!=null">
                AND coupon_name LIKE CONCAT('%', #{couponName}, '%')
            </if>
            <if test="couponType!=-1">
                AND coupon_type = #{couponType}
            </if>
        </where>
    </select>
    <select id="searchCouponCountTotal" resultType="java.lang.Integer">

    </select>
</mapper>
